body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fffcf4;
}

.letter-o {
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2vw 2vw 0 1px rgba(0, 0, 0, 0.2);
  width: 30vw;
  height: 30vw;
}

.counter {
  background-color: #fffcf4;
  border-radius: 50%;
  box-shadow: inset 2vw 2vw 0 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
          transform: translate3d(0, 0, 0) rotate(0deg);
  width: 20vw;
  height: 20vw;
  -webkit-animation-name: counter;
          animation-name: counter;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.75, -1.21, 0.59, 1.89);
          animation-timing-function: cubic-bezier(0.75, -1.21, 0.59, 1.89);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes counter {
  12%, 25% {
    width: 20vw;
    height: 27vw;
  }
  37%, 50% {
    width: 15vw;
    height: 27vw;
    -webkit-transform: translate3d(0, 0, 0) rotate(8deg);
            transform: translate3d(0, 0, 0) rotate(8deg);
  }
  63%, 75% {
    width: 23vw;
    height: 23vw;
  }
  87% {
    width: 20vw;
    height: 20vw;
  }
}
@keyframes counter {
  12%, 25% {
    width: 20vw;
    height: 27vw;
  }
  37%, 50% {
    width: 15vw;
    height: 27vw;
    -webkit-transform: translate3d(0, 0, 0) rotate(8deg);
            transform: translate3d(0, 0, 0) rotate(8deg);
  }
  63%, 75% {
    width: 23vw;
    height: 23vw;
  }
  87% {
    width: 20vw;
    height: 20vw;
  }
}

